<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDataGateway" class="is.ru.honn.rupin.data.UserData">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver"/>
        <property name="url" value="jdbc:jtds:sqlserver://hrnem.ru.is:1433"/>
        <property name="username" value="hsheyjolfur02"/>
        <property name="password" value="jh3vt5"/>
    </bean>

    <bean id="userService" class="is.ru.honn.rupin.service.UserServiceData">
        <property name="userDataGateway" ref="userDataGateway"/>
    </bean>

</beans>